p{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 180px;
    margin-top: 180px;
    text-align: center;
}

.content{
    border-radius: 6px;
    border: 2px solid #1976d2;
    align-content: center;
}

.personal{
    width: 90%;
    align-self: center;
    border-radius: 6px;
    border: 2px solid #1976d2;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 7%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: #ffffff;
}

.personal p{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
}

.information{
    display: flex;
    margin-left: 5%;
    wrap: wrap;
}

.information p{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    width:90%;
    margin-left: -5.5%;
}

.icon{
    margin-left: 5%;
}

svg{
    margin-left:5%;
}

.second{
    margin-top: 50px;
}

.information h4{
    margin: 0 auto;
    margin-left: 3.5%;
    margin-bottom: 2%;
    text-align: center;
    width:90%;
}