<div class="content">
    <div class="personal">
        <p>Dados Pessoais</p>
    </div>
    <div class="information">
        <fa-icon class="icon" icon="user-alt"></fa-icon>
        <p>Felipe Regis Bittencourt</p>
    </div>
    <svg height="50" width="95%">
        <line x1="0" y1="25" x2="95%" y2="25" style="stroke:rgba(31, 32, 65, 0.3);" />
    </svg>
    <div class="information">
        <fa-icon class="icon" icon="book"></fa-icon>
        <p>Engenheiro da Computação</p>
    </div>
    <svg height="50" width="95%">
        <line x1="0" y1="25" x2="95%" y2="25" style="stroke:rgba(31, 32, 65, 0.3);" />
    </svg>
    <div class="information">
        <fa-icon class="icon" icon="user-tie"></fa-icon>
        <p>Full-Stack Development</p>
    </div>
    <svg height="50" width="95%">
        <line x1="0" y1="25" x2="95%" y2="25" style="stroke:rgba(31, 32, 65, 0.3);" />
    </svg>
    <div class="information">
        <fa-icon class="icon" icon="calendar"></fa-icon>
        <p>20/05/1995</p>
    </div>
    <svg height="50" width="95%">
        <line x1="0" y1="25" x2="95%" y2="25" style="stroke:rgba(31, 32, 65, 0.3);" />
    </svg>
    <div class="information">
        <fa-icon class="icon" icon="globe-americas"></fa-icon>
        <p>Rio de Janeiro, Brasil</p>
    </div>
    <svg height="50" width="95%">
        <line x1="0" y1="25" x2="95%" y2="25" style="stroke:rgba(31, 32, 65, 0.3);" />
    </svg>
</div>
<div class="content second">
    <div class="personal">
        <p>Formação Acadêmica</p>
    </div>
    <div class="information">
        <h4>Graduação</h4>
    </div>
    <div class="information">
        <fa-icon class="icon" icon="graduation-cap"></fa-icon>
        <p>Engenharia da Computação</p>
    </div>
    <div class="information">
        <fa-icon class="icon" icon="university"></fa-icon>
        <p>Universidade Veiga de Almeida</p>
    </div>
    <div class="information">
        <fa-icon class="icon" icon="calendar"></fa-icon>
        <p>2019</p>
    </div>
    <svg height="50" width="95%">
        <line x1="0" y1="25" x2="95%" y2="25" style="stroke:rgba(31, 32, 65, 0.3);" />
    </svg>
    <div class="information">
        <h4>Extensão de Curso</h4>
    </div>
    <div class="information">
        <fa-icon class="icon" icon="graduation-cap"></fa-icon>
        <p>Automação com Raspberry PI</p>
    </div>
    <div class="information">
        <fa-icon class="icon" icon="university"></fa-icon>
        <p>Universidade Veiga de Almeida</p>
    </div>
    <div class="information">
        <fa-icon class="icon" icon="calendar"></fa-icon>
        <p>2016</p>
    </div>
    <svg height="50" width="95%">
        <line x1="0" y1="25" x2="95%" y2="25" style="stroke:rgba(31, 32, 65, 0.3);" />
    </svg>
    <div class="information">
        <h4>Curso Livre</h4>
    </div>
    <div class="information">
        <fa-icon class="icon" icon="graduation-cap"></fa-icon>
        <p>Montagem e Manutenção de Computadores</p>
    </div>
    <div class="information">
        <fa-icon class="icon" icon="university"></fa-icon>
        <p>Microlins</p>
    </div>
    <div class="information">
        <fa-icon class="icon" icon="calendar"></fa-icon>
        <p>2017</p>
    </div>
    <svg height="50" width="95%">
        <line x1="0" y1="25" x2="95%" y2="25" style="stroke:rgba(31, 32, 65, 0.3);" />
    </svg>
    <div class="information">
        <h4>Curso Livre</h4>
    </div>
    <div class="information">
        <fa-icon class="icon" icon="graduation-cap"></fa-icon>
        <p>Programação para Jogos Digitais</p>
    </div>
    <div class="information">
        <fa-icon class="icon" icon="university"></fa-icon>
        <p>RedZero</p>
    </div>
    <div class="information">
        <fa-icon class="icon" icon="calendar"></fa-icon>
        <p>2015</p>
    </div>
    <svg height="50" width="95%">
        <line x1="0" y1="25" x2="95%" y2="25" style="stroke:rgba(31, 32, 65, 0.3);" />
    </svg>
    <div class="information">
        <h4>Curso Livre</h4>
    </div>
    <div class="information">
        <fa-icon class="icon" icon="graduation-cap"></fa-icon>
        <p>Computação Gráfica</p>
    </div>
    <div class="information">
        <fa-icon class="icon" icon="university"></fa-icon>
        <p>Seven</p>
    </div>
    <div class="information">
        <fa-icon class="icon" icon="calendar"></fa-icon>
        <p>2014</p>
    </div>
    <svg height="50" width="95%">
        <line x1="0" y1="25" x2="95%" y2="25" style="stroke:rgba(31, 32, 65, 0.3);" />
    </svg>

</div>
<div class="content second">
    <div class="personal">
        <p>Experiência Profissional</p>
    </div>
    <div class="information">
        <fa-icon class="icon" icon="briefcase"></fa-icon>
        <p>Desenvolvedor Full-Stack Júnior</p>
    </div>
    <div class="information">
        <fa-icon class="icon" icon="building"></fa-icon>
        <p>Spassu Tecnologia SA</p>
    </div>
    <div class="information">
        <fa-icon class="icon" icon="calendar"></fa-icon>
        <p>Nov/2019 - Atual</p>
    </div>
    <svg height="50" width="95%">
        <line x1="0" y1="25" x2="95%" y2="25" style="stroke:rgba(31, 32, 65, 0.3);" />
    </svg>
    <div class="information">
        <fa-icon class="icon" icon="briefcase"></fa-icon>
        <p>Analista de Testes Júnior</p>
    </div>
    <div class="information">
        <fa-icon class="icon" icon="building"></fa-icon>
        <p>Iteste - Testing Software SA</p>
    </div>
    <div class="information">
        <fa-icon class="icon" icon="calendar"></fa-icon>
        <p>Mai/2019 - Nov/2019</p>
    </div>
    <svg height="50" width="95%">
        <line x1="0" y1="25" x2="95%" y2="25" style="stroke:rgba(31, 32, 65, 0.3);" />
    </svg>
    <div class="information">
        <fa-icon class="icon" icon="briefcase"></fa-icon>
        <p>Estagiário de Programação Web e Mobile</p>
    </div>
    <div class="information">
        <fa-icon class="icon" icon="building"></fa-icon>
        <p>CB Marketing</p>
    </div>
    <div class="information">
        <fa-icon class="icon" icon="calendar"></fa-icon>
        <p>Abr/2019 - Mai/2019</p>
    </div>
    <svg height="50" width="95%">
        <line x1="0" y1="25" x2="95%" y2="25" style="stroke:rgba(31, 32, 65, 0.3);" />
    </svg>
    <div class="information">
        <fa-icon class="icon" icon="briefcase"></fa-icon>
        <p>Estagiário de Programação Python</p>
    </div>
    <div class="information">
        <fa-icon class="icon" icon="building"></fa-icon>
        <p>Mindtek</p>
    </div>
    <div class="information">
        <fa-icon class="icon" icon="calendar"></fa-icon>
        <p>Ago/2018 - Fev/2019</p>
    </div>
    <svg height="50" width="95%">
        <line x1="0" y1="25" x2="95%" y2="25" style="stroke:rgba(31, 32, 65, 0.3);" />
    </svg>
    <div class="information">
        <fa-icon class="icon" icon="briefcase"></fa-icon>
        <p>Estagiário de Programação Web</p>
    </div>
    <div class="information">
        <fa-icon class="icon" icon="building"></fa-icon>
        <p>Riotur</p>
    </div>
    <div class="information">
        <fa-icon class="icon" icon="calendar"></fa-icon>
        <p>Out/2017 - Jul/2018</p>
    </div>
    <svg height="50" width="95%">
        <line x1="0" y1="25" x2="95%" y2="25" style="stroke:rgba(31, 32, 65, 0.3);" />
    </svg>
    <div class="information">
        <fa-icon class="icon" icon="briefcase"></fa-icon>
        <p>Estagiário de Suporte</p>
    </div>
    <div class="information">
        <fa-icon class="icon" icon="building"></fa-icon>
        <p>Profit Coach & Treinamento</p>
    </div>
    <div class="information">
        <fa-icon class="icon" icon="calendar"></fa-icon>
        <p>Fev/2017 - Jul/2017</p>
    </div>
    <svg height="50" width="95%">
        <line x1="0" y1="25" x2="95%" y2="25" style="stroke:rgba(31, 32, 65, 0.3);" />
    </svg>
</div>
