.perfil{
    display: flex;
    margin-left: 5%;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    border: 4px solid #1976d2;
    z-index: 1;
    position: absolute;
    top: 40px;

}

.toolbar{
    z-index: 0;
}

.toolbar #linkedin-logo {
    height: 36px;
    margin: 0px 96px 0px 48px;
  }

  .toolbar #linkedin-logo:hover {
    opacity: 0.8;
  }

  .toolbar #github-logo {
    height: 36px;
    margin: 0 48px;
  }

  .toolbar #github-logo:hover {
    opacity: 0.8;
  }

.side_by_side{
    display: flex;
}

app-side-div{
    width: 22.5%;
    margin-top: 10%;
    margin-left: 2.5%;
}

app-content-main{
    margin-top: 2%;
    margin-right: 2.5%;
    margin-bottom: 30px;
    width: 70%;
}

app-projetos{
    margin-left: 5%;
    margin-right: 5%;
}