<div class="content">
    <h3>Principais Projetos</h3>
    <div class="projetos">
        <svg height="200" width="50">
                <line x1="25" y1="5" x2="25" y2="195" style="stroke:rgba(31, 32, 65, 0.3)" />
        </svg>
        <div class="spacer"></div>
        <div class="slot">
            
            <div class="projeto">
                <img src="/assets/Petrobras-logo.png" width="60"/>
                <p>PipeCorr</p>
                <h5>Petrobrás</h5>
                <h4>Spassu Tecnologia SA</h4>
            </div>
        </div>
        <div class="spacer"></div>
        <svg height="200" width="50">
            <line x1="25" y1="5" x2="25" y2="195" style="stroke:rgba(31, 32, 65, 0.3)" />
        </svg>
        <div class="spacer"></div>
        <div class="slot">
            <div class="projeto">
                <img src="/assets/Carnaval.png" width="100"/>
                <p>Carnaval 2018</p>
                <h5>Governo Municipal</h5>
                <h4>Riotur</h4>

            </div>
        </div>
        <div class="spacer"></div>
        <svg height="200" width="50">
            <line x1="25" y1="5" x2="25" y2="195" style="stroke:rgba(31, 32, 65, 0.3)" />
        </svg>
        <div class="spacer"></div>
        <div class="slot">
            <div class="projeto">
                <img src="/assets/taco.png" width="100"/>
                <p>BI para controle de vendas</p>
                <h5>TACO</h5>
                <h4>Mindtek</h4>

            </div>
        </div>
        <div class="spacer"></div>
        <svg height="200" width="50">
            <line x1="25" y1="5" x2="25" y2="195" style="stroke:rgba(31, 32, 65, 0.3)" />
        </svg>
        <div class="spacer"></div>
        <div class="slot">
            <div class="projeto">
                <img src="/assets/Gefco.png" width="60"/>
                <p>Área do administrador</p>
                <h5>GEFCO</h5>
                <h4>Mindtek</h4>

            </div>
        </div>
        <div class="spacer"></div>
        <svg height="200" width="50">
            <line x1="25" y1="5" x2="25" y2="195" style="stroke:rgba(31, 32, 65, 0.3)" />
        </svg>
    </div>
    
</div>
