<div class="content">
    <div class="skills">
        <p>Skills</p>
    </div>
    <div class="front">
        <h3>Front-End</h3>
        <p>Angular</p>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <div class="level">
            <p>Estágio</p>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Júnior</p>
            <div class="spacer"></div>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Pleno</p>
            <div class="spacer"></div>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Senior</p>
        </div>
        <p>JavaScript</p>
        <mat-progress-bar mode="determinate" value="55"></mat-progress-bar>
        <div class="level">
            <p>Estágio</p>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Júnior</p>
            <div class="spacer"></div>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Pleno</p>
            <div class="spacer"></div>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Senior</p>
        </div>
        <p>HTML 5</p>
        <mat-progress-bar mode="determinate" value="52"></mat-progress-bar>
        <div class="level">
            <p>Estágio</p>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Júnior</p>
            <div class="spacer"></div>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Pleno</p>
            <div class="spacer"></div>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Senior</p>
        </div>
        <p>CSS 3</p>
        <mat-progress-bar mode="determinate" value="45"></mat-progress-bar>
        <div class="level">
            <p>Estágio</p>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Júnior</p>
            <div class="spacer"></div>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Pleno</p>
            <div class="spacer"></div>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Senior</p>
        </div>
        <p>React</p>
        <mat-progress-bar mode="determinate" value="10"></mat-progress-bar>
        <div class="level">
            <p>Estágio</p>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Júnior</p>
            <div class="spacer"></div>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Pleno</p>
            <div class="spacer"></div>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Senior</p>
        </div>
        <p>TypeScript</p>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <div class="level">
            <p>Estágio</p>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Júnior</p>
            <div class="spacer"></div>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Pleno</p>
            <div class="spacer"></div>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Senior</p>
        </div>
    </div>
    <div class="back">
        <h3>Back-End</h3>
        <p>Python</p>
        <mat-progress-bar mode="determinate" value="23"></mat-progress-bar>
        <div class="level">
            <p>Estágio</p>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Júnior</p>
            <div class="spacer"></div>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Pleno</p>
            <div class="spacer"></div>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Senior</p>
        </div>
        <p>Django</p>
        <mat-progress-bar mode="determinate" value="18"></mat-progress-bar>
        <div class="level">
            <p>Estágio</p>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Júnior</p>
            <div class="spacer"></div>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Pleno</p>
            <div class="spacer"></div>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Senior</p>
        </div>
        <p>PHP</p>
        <mat-progress-bar mode="determinate" value="23"></mat-progress-bar>
        <div class="level">
            <p>Estágio</p>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Júnior</p>
            <div class="spacer"></div>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Pleno</p>
            <div class="spacer"></div>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Senior</p>
        </div>
        <p>NodeJS</p>
        <mat-progress-bar mode="determinate" value="8"></mat-progress-bar>
        <div class="level">
            <p>Estágio</p>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Júnior</p>
            <div class="spacer"></div>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Pleno</p>
            <div class="spacer"></div>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Senior</p>
        </div>
        <p>C#</p>
        <mat-progress-bar mode="determinate" value="13"></mat-progress-bar>
        <div class="level">
            <p>Estágio</p>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Júnior</p>
            <div class="spacer"></div>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Pleno</p>
            <div class="spacer"></div>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Senior</p>
        </div>
        <p>Java</p>
        <mat-progress-bar mode="determinate" value="22"></mat-progress-bar>
        <div class="level">
            <p>Estágio</p>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Júnior</p>
            <div class="spacer"></div>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Pleno</p>
            <div class="spacer"></div>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Senior</p>
        </div>
        <p>MySQL</p>
        <mat-progress-bar mode="determinate" value="55"></mat-progress-bar>
        <div class="level">
            <p>Estágio</p>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Júnior</p>
            <div class="spacer"></div>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Pleno</p>
            <div class="spacer"></div>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Senior</p>
        </div>
        <p>PostgreSQL</p>
        <mat-progress-bar mode="determinate" value="55"></mat-progress-bar>
        <div class="level">
            <p>Estágio</p>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Júnior</p>
            <div class="spacer"></div>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Pleno</p>
            <div class="spacer"></div>
            <svg height="50" width="50">
                <line x1="25" y1="15" x2="25" y2="35" style="stroke:rgba(31, 32, 65, 0.3)" />
            </svg>
            <div class="spacer"></div>
            <p>Senior</p>
        </div>
    </div>
</div>
